* {
  color: #f3cd16;
  background-color: #4a5c53;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
}

img {
  width: 50%;
  height: auto;
  border-radius: 20px;
}

h4,
p,
button {
  padding: 0.3rem;
  margin: 0;
}
